@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,700;1,300&family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

nav {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 12px 3px;
    display: flex;
    justify-content: space-between;
}

.logo{
    margin: 0 23px;
    font-weight: 800;
    font-size: 25px;
    cursor: pointer;
}

ul {
    display: flex;
    margin: 0 23px;
    align-items: center;
}

ul > li {
    list-style: none;
    margin: 0 13px;
    cursor: pointer;
}

ul > li:hover{
    color: rgb(255, 0, 55);
    transition: background-color 0.5s, color 0.5s; /* Add a smooth transition */

}

/* Style the icons */
ul > li > i {
    display: none; /* Initially hide the icons */
    margin-right: 5px; /* Add some spacing between the icon and text */
}

/* Show the icons when hovering over the list items */
ul > li:hover > i {
    display: inline; /* Show the icons on hover */
}

table, td, tr{
    border: 2px solid rgb(0, 0, 0);
    border-collapse: collapse;
    padding: 5px 13px;
}

.container {
    max-width: 80vw;
    margin: 23px auto;
}

h1, h2, h3 {
    margin: 23px 0;
}

.btn{
    padding: 8px 17px;
    background: black;
    color: white;
    font-weight: 900;
    border: 2px solid gray;
    border-radius: 8px;
    margin: 25px 0;
    cursor: pointer;
}

/* Add hover effect for submit buttons */
.btn:hover {
    background-color: rgb(6, 98, 246);
    color: rgb(238, 10, 10);
    transition: background-color 0.5s, color 0.5s; /* Add a smooth transition */
}


.btnsm{ 
    padding: 8px 17px;
    background: black;
    color: white;
    font-weight: 900;
    border: 2px solid gray;
    border-radius: 8px; 
    cursor: pointer;
}

img{
    cursor: pointer;
    position: relative;
    bottom: 7px;
    width: 15px;
    height: 13px;
}

#alert{
    display: none;
}
/* Media queries for responsive design */

/* Adjust styles for screens with a maximum width of 768px */
@media (max-width: 768px) {
    nav {
        padding: 10px 0;
    }
    
    .logo {
        margin: 0 10px;
        font-size: 20px;
    }
    
    ul > li {
        margin: 0 10px;
    }
    
    .btn, .btnsm {
        padding: 6px 12px;
        font-weight: 700;
        margin: 15px 0;
    }
    
    img {
        width: 12px;
        height: 10px;
        bottom: 5px;
    }
}
